@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.index{
    size: 10px;
    height: 100vh;
    background: linear-gradient(#30388ab4 , #c35e6fa8, #0a1267a6);

}
.main{ 
    background-color: white; 
}
h1{
    color: rgba(255, 255, 255, 0.781);
    position: absolute;
    top: -65%;
    left: 25%;
}
input {     
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.253);
    border: none;
    outline: none;
    color: white;
    size: 13px;
    padding: 5px;
}
::placeholder{
    color: #ffffff5e;
}

.box-login{
    padding: 5px;
    position: absolute;
    top: 45%;
    left: 41%;
    
}
#botao{
    position: absolute;
    top: 100%;
    left: 35%;
}

.topbar{
    height: 50px;
    width: 100%px;
    position: fixed;
    z-index: 1;
    background: linear-gradient(#30378A , #0A1167)
}

.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 0;
    background-color: #2f3039da;
    border-right-color: rgba(0, 0, 0, 0.233);
    border-right-style: solid;
    border-left-color: rgba(0, 0, 0, 0.233);
    border-left-style: solid;
}
.menuadd{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80%;
    left: 90%;
}
.logocad:hover , .iconlogout:hover{
    border-style: solid;
    border-color: rgba(75, 74, 74, 0.76);
    border-radius: 100px;
    border-width: 2.5;
    
}
.sidebtn{
    border-width: 0.5px;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.24);
    color: rgb(255, 255, 255);
    width: 250px;
    font-size: 12px;

}
.divbutton{
    position: absolute;
    top: 200px ;
}
.iconusuario{
    height: 200px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.075);
    position: absolute;
    top: 0px ;
}
.inf{
    position: absolute;
    top: 170px;
    left: 60px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.055);
    color: white;
}
.iconlou{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: 1;
}